// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~admin-lte/dist/css/adminlte.css';

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

.router-link-exact-active{
    background-color: #3490dc;
    color: rgb(255,255,255) !important;
}

/* html, body{
    font-size: 13px;
} */

.star-rating{
    display: inline-block;
    color: gold;
    font-size: 4rem;
    position: relative;
}

.star-rating .star-rating__current{
    position: absolute;
    top: 0;
    overflow: hidden;
    white-space: nowrap;
}

.flip-list-move {
    transition: transform 1s;
  }